.caloriesBlock {
  width: 100%;
  height: 100vh;
}
.caloriesBlockRight {
  position: relative;
  width: 501px;
  height: 501px;
  border-radius: 100%;
  background-color: #fee5c1;
  overflow: hidden;
  margin-left: 100px;
}
.caloriesBlockRight img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media (max-width:920px) {
  .caloriesBlock {
    display: none;
  }
  .companiesImg {
    display: none;
  }
}