.home {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: white;
  overflow: hidden;
}
.homeRight {
  height: 95vh;
  position: absolute;
  right: 0;
}
.homeRightGirl {
  width: 52.5%;
  position: absolute;
  right: 0;
}
.nameTxt {
  position: absolute;
  top: 4.5vh;
  left: 3%;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.05em;
  color: #000000;
  z-index: 150;
}
.homeTopLeftCard {
  position: absolute;
  width: 158px;
  height: 61px;
  justify-content: center;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 16px;
  left: 20%;
  top: 3vh;
}
.homeTopLeftCard p {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.05em;
  color: #0b0736;
  margin-left: 15px;
}
.sph {
  width: 7px;
  height: 7px;
  border-radius: 100%;
  background: #0b0736;
  margin: 2.5px;
}
.homeCard {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 20%;
  z-index: 150;
}
.homeCard h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 90px;
  line-height: 85px;
  letter-spacing: -0.02em;
  color: #130f49;
  margin-bottom: 20px;
}
.trackingTxt {
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: -0.01em;
  color: #0b0736;
  margin-right: 5px;
}
.homeCardTxtBlock {
  margin-bottom: 15px;
}
.startBtn p {
  font-weight: 500;
  font-size: 1.05em;
  letter-spacing: -0.05em;
  color: #ffffff;
  z-index: 150;
}
.startBtn {
  transition: background 0.2s linear;
  width: 165px;
  height: 69px;
  background: #130f49;
  border-radius: 20px;
  border: 1px solid #130f49;
}
.startBtn:hover {
  background: white;
}
.startBtn:hover .startBtnTxt {
  color: #130f49;
}
.underline {
  border-bottom: 1px solid #FFD32C;
}
@media (max-width:920px) {
  .homeRight {
    width: 95%;
    height: unset;
  }
  .homeRightGirl {
    width: 75%;
  }
  .homeCard {
    left: 5%;
    transform: unset;
    bottom: 10vh;
  }
  .homeCard h1 {
    font-size: 3.2em;
    line-height: unset;
    margin-bottom: unset;
  }
  .nameTxt {
    top:10px;
    left: 5%;
    font-size: 1.2em;
  }
  .homeTopLeftCard {
    display: none;
  }
}
