.trackBlock {
  position: relative;
  height: 100vh;
}
.trackSphere {
  position: absolute;
  top: 10vh;
  height: 87vh;
}
.trackBlockTop {
  justify-content: space-evenly;
}
.trackBlockTop h1 {
  font-weight: 500;
  font-size: 80px;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #130f49;
  z-index: 265;
}
.trackBlockTop h2 {
  font-weight: normal;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -0.01em;
  color: #130f49;
  opacity: 0.4;
  max-width: 396px;
}
.productCard {
  width: 148px;
  height: 226px;
  background-color: white;
  border-radius: 29px;
  margin-bottom: 20px;
}
.trackBlockBottom {
  width: 100%;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 5vh;
}
.cardTitle {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  letter-spacing: -0.01em;
  color: #0b0736;
  margin-top: 10px;
  margin-bottom: 2.5px;
}
.cardContent {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #0b0736;
  opacity: 0.4;
  position: absolute;
}
.cardsParentRight {
  transform: translate(25px, 50px);
}
.contextCard {
  margin-bottom: 60px;
}
.cardSphere {
  width: 61px;
  height: 61px;
  margin-right: 30px;
}
.cardSphere img {
  position: absolute;
}
.contextCardContent h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: #130f49;
  margin-bottom: 10px;
}
.contextCardContent p {
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #130f49;
  opacity: 0.4;
  max-width: 304px;
}
@media (max-width:920px) {
  .trackBlock {
    display: none;
  }
}