.trialBlock {
  width: 100%;
  height: 100vh;
}
.trialBlockParent {
  position: relative;
  width: 90%;
  height: 70vh;
  background: #d9f4ff;
  border-radius: 56px;
}
.trialImg {
  position: absolute;
  width: 35%;
  bottom: 0;
  right: 10%;
}
.trialBtn {
  width: 186px;
  height: 76px;
  background: #130f49;
  border-radius: 20px;
}
.btnRight {
  margin-left: 15px;
}
.btnRight p {
  font-weight: normal;
  font-size: 14px;
  letter-spacing: -0.01em;
  color: #ffffff;
  opacity: 0.4;
}
.btnRight h4 {
  font-weight: 500;
  font-size: 19px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.trialCard h1 {
  font-weight: 500;
  font-size: 68px;
  letter-spacing: -0.02em;
  color: #130f49;
  margin-bottom: 25px;
}
.trialCard {
  position: absolute;
  left: 10%;
  bottom: 50%;
  transform: translateY(50%);
}
@media (max-width: 920px) {
  .trialBlock {
    height: unset;
  }
  .trialBlockParent {
    width: 100%;
    background-color: white;
    height: unset;
    overflow: hidden;
  }
  .trialCard {
    position: relative;
    left: 5%;
    transform: translateY(0);
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .trialCard h1 {
    font-size: 3.2em;
  }
  .trialImg {
    transform: translateY(5px);
    width: 70%;
    position: relative;
    left: 5%;
  }
}
